.editor-sprite-container {
  border: solid 1px #fff;
  margin: 2px;
}

.editor-sprite-container.selected {
  background-color: #fff8;
  border: solid 2px #0f0;
}


.editor-sprite-container > .map-element {
  position: relative;
}


.map-element.draggable {
  background-color: #ff05;
  border: solid dotted 1px#f0f;
}

.map-element--group.draggable {
  z-index: 1000 !important;
}